* {
    margin: 0;
    padding: 0;
}
.container{
    width: 1366px;
    height: 100%;
    margin: 0 auto;
}
.banner{
    background-image: url(../Images/fundo-azul-nuvens.fw_.png);
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-direction: column;
}
.banner h1{
    font-size: 40px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}
.banner p{
    display: flex;
    justify-content: center;
    width: 4git00px;
    text-align: center;
}
.center{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.contato{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.contato a{
    border: 10px solid rgb(49, 49, 49);
    background-color: rgb(49, 49, 49);
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10px;
    display: flex;
    justify-content: center;
    width: 100px;
}