* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    width: 1366px;
    height: 100%;
    margin: 0 auto;
}
.header ul{
    list-style: none;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-decoration: none;
    list-style: none;
}
ul a{
    text-decoration: none;
    color: rgb(139, 134, 134);
}
header{
    display: flex;
    justify-content: space-around;
    padding: 20px;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 15px;
    align-items: center;
   } 

.header img{
    width: 100px;
    height: 100px;
    margin-left: 100px;
    margin-top: 15px;
}
.menu {
    display: flex;
}
.menu li{
    margin-left: 100px;
    justify-content: center;
    
}
.menu li a{
    display: block;
    padding: 20px;
}
.header a:hover{
    border-bottom: solid 2px lightskyblue;
}
.banner{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url(../images/fundo-azul-nuvens.fw_.png);
    margin-top: 15px;
}
.banner h1{
    font-size: 40px;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}
.banner p{
    display: flex;
    justify-content: center;
    width: 400px;
    text-align: center;
}
.center{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.contato{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.contato a{
    border: 10px solid rgb(49, 49, 49);
    background-color: rgb(49, 49, 49);
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-size: 10px;
    display: flex;
    justify-content: center;
    width: 100px;
}
.services {
    width: 1366px;
    height: 750px;
    margin: 0 auto;
}
.services {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.services h2 {
    text-align: center;
    color: lightskyblue;
    font-weight: lighter;
}
.services p {
    width: 600px;
    margin-top: 20px;
    text-align: center;
    font-weight: bolder;
}
.data {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding: 0 30px;
}
.data h3 {
    color: lightskyblue;
}
.data img {
    width: 200px;
    height: 200px;
}
.data p {
    width: 300px;
    font-weight: normal;
}
.articles {
    display: flex;
    justify-content: center;
}