* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container {
    width: 1366px;
    height: 100%;
    margin: 0 auto;
}
.services {
    width: 1366px;
    height: 750px;
    margin: 0 auto;
}
.services {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.services h2 {
    text-align: center;
    color: lightskyblue;
    font-weight: lighter;
}
.services p {
    width: 600px;
    margin-top: 20px;
    text-align: center;
    font-weight: bolder;
}
.data {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    padding: 0 30px;
}
.data h3 {
    color: lightskyblue;
}
.data img {
    width: 200px;
    height: 200px;
}
.data p {
    width: 300px;
    font-weight: normal;
}
.articles {
    display: flex;
    justify-content: center;
}